 <!-- First -->
 <div class="container" style="margin-top: 100px;"> 
    <div class="row mt-30" id="firstMain">
       <div class="col-md-6 col-6">
           <img class="logo-icon" src="assets/cashflow-breadcrumb.svg" alt="logo" class="wd125" >
       </div>
       <div class="col-md-6 col-12 bread-p text-right">
           <p class="mb-1">Cashflow Calculator</p>
           <p class="mb-0">{{validation.getCurrentDateWithSpecificFormat()}}</p>
       </div> 
   </div>
     <!-- First -->
   
   <!-- Second -->
   <div class="row mt-3 plr-1"  id="secondMain">
       <div class="mapcontainer">
           <app-googlemap [MapClassLoad]="MapLoad" [latitude]="lat" [longitude]="long"></app-googlemap>
       </div>
   </div>
   <!-- Second -->
   
     <!-- Third -->
     <div class="row mt-3 plr-15"  id="thirdMain">
       <div class="col-md-12 p0 prl10">
           <progress-bar [progress]="(50+(investedTenure!=''?8.25:0)+(rentalYeild!=''?8.25:0)+(rentalGrowthEscalation!=''?8.25:0))" [color]="'#488aff'">
           </progress-bar>
       </div>
       <div class="col-md-2 col-6 p-0 pl17">
           <a [routerLink]="['/cashflow/step2']" class="backlink">Back</a>
       </div>
       <div class="col-md-10 col-6 p-0 pr13">
           <label class="float-right">{{50+(investedTenure!=''?8.25:0)+(rentalYeild!=''?8.25:0)+(rentalGrowthEscalation!=''?8.25:0) | number:'1.0-0'}}% data recieved</label>
       </div>
     </div>
         <!-- Third -->
   
   
     <!-- Fourth -->
   <!-- <div class="row plr-15 mt-3">
       <div class="col-md-5 pl0">
           <h5><b class="questyle">Your Home Currency?</b></h5>
       </div>
       <div class="col-md-7 pr0">
           <select  [(ngModel)]="homecurrencyText" id="homecurrencyText" (change)="homecurrencyChange()">
               <option value="">Select</option>
               <option value='AED'>AED</option>
               <option value='AFN'>AFN</option>
               <option value='ALL'>ALL</option>
               <option value='AMD'>AMD</option>
               <option value='ANG'>ANG</option>
               <option value='AOA'>AOA</option>
               <option value='ARS'>ARS</option>
               <option value='AUD'>AUD</option>
               <option value='AWG'>AWG</option>
               <option value='AZN'>AZN</option>
               <option value='BAM'>BAM</option>
               <option value='BBD'>BBD</option>
               <option value='BDT'>BDT</option>
               <option value='BGN'>BGN</option>
               <option value='BHD'>BHD</option>
               <option value='BIF'>BIF</option>
               <option value='BMD'>BMD</option>
               <option value='BND'>BND</option>
               <option value='BOB'>BOB</option>
               <option value='BRL'>BRL</option>
               <option value='BSD'>BSD</option>
               <option value='BTC'>BTC</option>
               <option value='BTN'>BTN</option>
               <option value='BWP'>BWP</option>
               <option value='BYR'>BYR</option>
               <option value='BYN'>BYN</option>
               <option value='BZD'>BZD</option>
               <option value='CAD'>CAD</option>
               <option value='CDF'>CDF</option>
               <option value='CHF'>CHF</option>
               <option value='CLF'>CLF</option>
               <option value='CLP'>CLP</option>
               <option value='CNY'>CNY</option>
               <option value='COP'>COP</option>
               <option value='CRC'>CRC</option>
               <option value='CUC'>CUC</option>
               <option value='CUP'>CUP</option>
               <option value='CVE'>CVE</option>
               <option value='CZK'>CZK</option>
               <option value='DJF'>DJF</option>
               <option value='DKK'>DKK</option>
               <option value='DOP'>DOP</option>
               <option value='DZD'>DZD</option>
               <option value='EGP'>EGP</option>
               <option value='ERN'>ERN</option>
               <option value='ETB'>ETB</option>
               <option value='EUR'>EUR</option>
               <option value='FJD'>FJD</option>
               <option value='FKP'>FKP</option>
               <option value='GBP'>GBP</option>
               <option value='GEL'>GEL</option>
               <option value='GGP'>GGP</option>
               <option value='GHS'>GHS</option>
               <option value='GIP'>GIP</option>
               <option value='GMD'>GMD</option>
               <option value='GNF'>GNF</option>
               <option value='GTQ'>GTQ</option>
               <option value='GYD'>GYD</option>
               <option value='HKD'>HKD</option>
               <option value='HNL'>HNL</option>
               <option value='HRK'>HRK</option>
               <option value='HTG'>HTG</option>
               <option value='HUF'>HUF</option>
               <option value='IDR'>IDR</option>
               <option value='ILS'>ILS</option>
               <option value='IMP'>IMP</option>
               <option value='INR'>INR</option>
               <option value='IQD'>IQD</option>
               <option value='IRR'>IRR</option>
               <option value='ISK'>ISK</option>
               <option value='JEP'>JEP</option>
               <option value='JMD'>JMD</option>
               <option value='JOD'>JOD</option>
               <option value='JPY'>JPY</option>
               <option value='KES'>KES</option>
               <option value='KGS'>KGS</option>
               <option value='KHR'>KHR</option>
               <option value='KMF'>KMF</option>
               <option value='KPW'>KPW</option>
               <option value='KRW'>KRW</option>
               <option value='KWD'>KWD</option>
               <option value='KYD'>KYD</option>
               <option value='KZT'>KZT</option>
               <option value='LAK'>LAK</option>
               <option value='LBP'>LBP</option>
               <option value='LKR'>LKR</option>
               <option value='LRD'>LRD</option>
               <option value='LSL'>LSL</option>
               <option value='LTL'>LTL</option>
               <option value='LVL'>LVL</option>
               <option value='LYD'>LYD</option>
               <option value='MAD'>MAD</option>
               <option value='MDL'>MDL</option>
               <option value='MGA'>MGA</option>
               <option value='MKD'>MKD</option>
               <option value='MMK'>MMK</option>
               <option value='MNT'>MNT</option>
               <option value='MOP'>MOP</option>
               <option value='MRO'>MRO</option>
               <option value='MUR'>MUR</option>
               <option value='MVR'>MVR</option>
               <option value='MWK'>MWK</option>
               <option value='MXN'>MXN</option>
               <option value='MYR'>MYR</option>
               <option value='MZN'>MZN</option>
               <option value='NAD'>NAD</option>
               <option value='NGN'>NGN</option>
               <option value='NIO'>NIO</option>
               <option value='NOK'>NOK</option>
               <option value='NPR'>NPR</option>
               <option value='NZD'>NZD</option>
               <option value='OMR'>OMR</option>
               <option value='PAB'>PAB</option>
               <option value='PEN'>PEN</option>
               <option value='PGK'>PGK</option>
               <option value='PHP'>PHP</option>
               <option value='PKR'>PKR</option>
               <option value='PLN'>PLN</option>
               <option value='PYG'>PYG</option>
               <option value='QAR'>QAR</option>
               <option value='RON'>RON</option>
               <option value='RSD'>RSD</option>
               <option value='RUB'>RUB</option>
               <option value='RWF'>RWF</option>
               <option value='SAR'>SAR</option>
               <option value='SBD'>SBD</option>
               <option value='SCR'>SCR</option>
               <option value='SDG'>SDG</option>
               <option value='SEK'>SEK</option>
               <option value='SGD'>SGD</option>
               <option value='SHP'>SHP</option>
               <option value='SLL'>SLL</option>
               <option value='SOS'>SOS</option>
               <option value='SRD'>SRD</option>
               <option value='STD'>STD</option>
               <option value='SVC'>SVC</option>
               <option value='SYP'>SYP</option>
               <option value='SZL'>SZL</option>
               <option value='THB'>THB</option>
               <option value='TJS'>TJS</option>
               <option value='TMT'>TMT</option>
               <option value='TND'>TND</option>
               <option value='TOP'>TOP</option>
               <option value='TRY'>TRY</option>
               <option value='TTD'>TTD</option>
               <option value='TWD'>TWD</option>
               <option value='TZS'>TZS</option>
               <option value='UAH'>UAH</option>
               <option value='UGX'>UGX</option>
               <option value='USD'>USD</option>
               <option value='UYU'>UYU</option>
               <option value='UZS'>UZS</option>
               <option value='VEF'>VEF</option>
               <option value='VND'>VND</option>
               <option value='VUV'>VUV</option>
               <option value='WST'>WST</option>
               <option value='XAF'>XAF</option>
               <option value='XAG'>XAG</option>
               <option value='XAU'>XAU</option>
               <option value='XCD'>XCD</option>
               <option value='XDR'>XDR</option>
               <option value='XOF'>XOF</option>
               <option value='XPF'>XPF</option>
               <option value='YER'>YER</option>
               <option value='ZAR'>ZAR</option>
               <option value='ZMK'>ZMK</option>
               <option value='ZMW'>ZMW</option>
               <option value='ZWL'>ZWL</option>
             </select> -->
           <!-- <input type="text" id="homecurrencyText"  [(ngModel)]="homecurrencyText" placeholder="Home currency (INR)"> -->
           <!-- <span *ngIf="homecurrencyText!=''" class="tick-g"><i class="fa fa-check" aria-hidden="true"></i></span> -->
       <!-- </div>
   </div> -->
   <!-- <div class="row plr-15 mt-3" [@affirst]="homecurrencyText!=''?'visible':'hide'">
       <div class="col-md-5 pl0" style="padding-right: 32px;">
           <h5><b class="questyle">Home Currency Value?</b></h5>
       </div>
       <div class="col-md-7 pr0">
           <input type="text" id="homecurrencyvalue" (keypress)="validation.DesimalOnly($event,homecurrency)" placeholder="Home Currency Value" [(ngModel)]="homecurrency">
           <span *ngIf="homecurrency!=''" class="tick-g"><i class="fa fa-check" aria-hidden="true"></i></span>
       </div>
   </div> -->
   <div class="row plr-15 mt-3">
       <div class="col-md-5 pl0" style="padding-right: 32px;">
           <h5><b class="questyle">Investment Period?</b></h5>
       </div>
       <div class="col-md-7 pr0">
        <select id="investedTenure" [(ngModel)]="investedTenure">
            <option value="">Select</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
        </select>
           <!-- <input type="text" id="investedTenure" autocomplete="off" (keypress)="validation.DesimalOnly($event,investedTenure)" placeholder="Investment tenure (15 Years)" [(ngModel)]="investedTenure">
           <span *ngIf="investedTenure!=''" class="tick-g"><i class="fa fa-check" aria-hidden="true"></i></span> -->
       </div>
   </div>
   <div class="row plr-15 mt-3" [@asfirst]="investedTenure!=''?'visible':'hide'">
       <div class="col-md-5 pl0">
           <h5><b class="questyle">Rental Yield?</b></h5>
       </div>
    <div class="col-md-7 pr0">
        <input type="text" id="rentalYeild" autocomplete="off" (keyup)="rentalYeild=validation.appendPercent($event,rentalYeild)"(keypress)="validation.DesimalOnly($event,rentalYeild)" placeholder="Rental yield ({{PropertyLondon == 1 ? '4%' : '6%'}})" [(ngModel)]="rentalYeild" class="">
        <span *ngIf="rentalYeild!=''" class="tick-g"><i class="fa fa-check" aria-hidden="true"></i></span>
   
    </div>
   </div>
   <div class="row plr-15 mt-3" [@aftfirst]="rentalYeild!=''?'visible':'hide'">
       <div class="col-md-5 pl0">
           <h5><b class="questyle">Rental growth p.a?</b></h5>
       </div>
       <div class="col-md-7 pr0">
           <input type="text" id="rentalGrowthEscalation" autocomplete="off" (keyup)="rentalGrowthEscalation=validation.appendPercent($event,rentalGrowthEscalation)" (keypress)="validation.DesimalOnly($event,rentalGrowthEscalation)" placeholder="Rental growth/escalation ({{PropertyLondon == 1 ? '4%' : '5%'}})" [(ngModel)]="rentalGrowthEscalation" class="">
           <span *ngIf="rentalGrowthEscalation!=''" class="tick-g"><i class="fa fa-check" aria-hidden="true"></i></span>
       </div>
   </div>
   <!-- <div class="row plr-15 mt-3" [@afrfirst]="rentalGrowthEscalation!=''?'visible':'hide'">
       <div class="col-md-5 pl0">
           <h5><b class="questyle">Capital Growth p.a?</b></h5>
       </div>
       <div class="col-md-7 pr0">
           <input type="text" id="capitalgrowth" (keyup)="capitalgrowth=validation.appendPercent($event,capitalgrowth)"  (keypress)="validation.DesimalOnly($event,capitalgrowth)" placeholder="Capital growth (3%)" [(ngModel)]="capitalgrowth" class="">
           <span *ngIf="capitalgrowth!=''" class="tick-g"><i class="fa fa-check" aria-hidden="true"></i></span>
       </div>
   </div>  -->
   <!-- <div class="row plr-15 mt-3" [@aftfirst]="capitalgrowth!=''?'visible':'hide'">
       <div class="col-md-5 pl0">
           <h5><b class="questyle"> FX growth p.a?</b></h5>
       </div>
       <div class="col-md-7 pr0">
           <input type="text" id="fxgrowth" (keyup)="fxgrowth=validation.appendPercent($event,fxgrowth)"  (keypress)="validation.DesimalOnly($event,fxgrowth)" placeholder="FX growth (4.25%)" [(ngModel)]="fxgrowth" class="">
           <span *ngIf="fxgrowth!=''" class="tick-g"><i class="fa fa-check" aria-hidden="true"></i></span>
   
       </div>
   </div> -->
   <div class="row plr-15 pt-5" id="FourthMain">
      
       
       <div class="col-md-12 pr0 mobile-center" style="text-align: right;">
           <button *ngIf="rentalGrowthEscalation!=''" class="btn btn-defaultNext" type="button" (click)="next()">Next</button>
         </div>
         <div class="col-md-9">
           <app-calculatordetails [coldesign]="6"></app-calculatordetails>
       </div>
   </div>
     <!-- Fourth -->
     </div>