@media only screen and (min-width: 991px){
    .login-div{
        width: 556px;
        margin: 0 auto;
    }
}
.login-div h2 {
    font-size: 25px;
    color: #444854;
    font-weight: 600;
    font-family:Inter;
    line-height: 55.20px;
    margin-bottom: 0;					
}
.login-div .sign {
    color: #444854;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Inter';
    line-height: 55.20px;
    margin-bottom: 0;		
}
.pt-60{
    padding-top: 60px;
}
.wd100{
    width: 100%;
}
.mb-35{
    margin-bottom: 25px;
}
.form-group{
    margin-bottom: 0px;
}
.login-div .form-control{
    height: 59px;
    margin-bottom: 25px;
    border: 1px solid #DBDEE7;
    border-radius: 6px;
    font-family: 'Inter';
    color: #000;
    font-size: 18px;
}
.frg-psswd{
    font-size: 16px;
    text-decoration: none;
    color: #1d1751;
    font-weight: 600;
}
.submit-btn{
    width: 100%;
    background: #F0EFE8 ;
    height: 50px;
    font-family: 'Inter';
    font-size: 20px;
    border-radius: 6px;
    color: #3C3769;
    margin-top: 42px;
    font-weight: 700;
}
.google-icon{
    width: 10%;
    position: absolute;
    left: 9%;
    top: 15%;
}
.lock-ic{			
    position: absolute;
    top: 25%;
    right: 7%;
    color: #3C3769;
    font-size: 18px;
}
.pr-45{
    padding-right: 45px;
}
/* The container */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0;
    cursor: pointer;
    color: #000;
    font-size: 18px;
    font-family: 'Inter';
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.container-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 6px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    background-color: #3C3769;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* The container */
.container-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.container-radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.container-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
@media only screen and (max-width: 767px){
    .login-div{
        padding: 15px;
    }
    .login-with-google-btn{
        margin-bottom: 15px;
    }
    .google-icon {
        width: 7%;
        position: absolute;
        left: 12%;
        top: 15%;
    }
}

.pos-rel{
    position: relative;
}
.pos-abs{
    position: absolute;
    right: 15px;
    top: 12px;
}